 .card1{
    background-color: lightgreen;
    border: 2px solid red;
}

.card2{
    background-color: brown;
    /* display: none; */
    /* visibility:hidden; */
}

span{
    background-color:hotpink ;
    display:inline-block;
   width: 500px;
   height: 50px;
}